<!DOCTYPE html>
<html>

<head>
    <title>Lab7</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
</head>

<body>
<header>
    <h1>( ͡° ͜ʖ ͡°) Czatowanko ( ͡° ͜ʖ ͡°)</h1>
</header>

<section>
    <div id="change_username">
        <input id="username" type="text"/>
        <button id="send_username" type="button">Change username</button>
    </div>
</section>

<section id="chatroom">
    <section id="feedback"></section>
</section>

<section id="input_zone">
    <input id="message" class="vertical-align" type="text">
    <button id="send_message" class="vertical-align" type="button">Send</button>
</section>

<script src='http://code.jquery.com/jquery-latest.min.js'></script>
<script src='/javascripts/chat.js'></script>
</body>
</html>
